.popup__submit {
    width: 358px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 2px;
    background-color: black;
    color: white;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 520px) {
  .popup__submit {
    width: 100%;
    height: 46px;
  }
}
